<!-- <fa-icon [icon]="faYoutube"></fa-icon>
<fa-icon [icon]="faFacebook"></fa-icon>
<fa-icon [icon]="faLinkedin"></fa-icon>
<fa-icon [icon]="faWikipediaW"></fa-icon> -->

<ul class="socialite-list">
    <!-- <li><a class="icon novi-icon socialite fa-facebook" href="#"></a></li>
    <li><a class="icon novi-icon socialite fa-twitter" href="#"></a></li>
    <li><a class="icon novi-icon socialite fa-instagram" href="#"></a></li> -->
    <li> <fa-icon [icon]="faYoutube"></fa-icon></li>
    <li><fa-icon [icon]="faFacebook"></fa-icon></li>
    <li><fa-icon [icon]="faLinkedin"></fa-icon></li>
    <li><fa-icon [icon]="faWikipediaW"></fa-icon></li>
</ul>