
<ul class="socialite-list">
    <a class="icon novi-icon socialite" href="https://www.youtube.com/user/noyaschleien" target="_blank">
        <li> <fa-icon [icon]="faYoutube"></fa-icon></li>
    </a>

    <a class="icon novi-icon socialite" href="https://www.facebook.com/noya.schleien" target="_blank">
        <li><fa-icon [icon]="faFacebook"></fa-icon></li>
    </a>


    <a class="icon novi-icon socialite" href="https://www.linkedin.com/in/noya-schleien-43090352?originalSubdomain=il" target="_blank">
        <li><fa-icon [icon]="faLinkedin"></fa-icon></li>
    </a>


    <a class="icon novi-icon socialite" href="https://he.wikipedia.org/wiki/%D7%A0%D7%95%D7%99%D7%94_%D7%A9%D7%9C%D7%99%D7%99%D7%9F" target="_blank">
        <li><fa-icon [icon]="faWikipediaW"></fa-icon></li>
    </a>
</ul>